<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.sia.mapper.UserPackageMapper">

    <select id="getQuotaPkg" resultType="org.sia.model.UserPackage">
        SELECT *
        FROM t_user_package
        WHERE user_id = #{userId}
          AND #{date} > start_time
          AND end_time > #{date}
          AND remain > 0
        ORDER BY start_time
    </select>
    <select id="searchList" resultType="org.sia.vo.response.AdminUpResVo">
        SELECT
            id,
            user_id,
            pkg_id,
            category,
            `name`,
            start_time,
            end_time,
            remain,
            each_day,
            integral,
            reset_time
        FROM t_user_package
        <where>
            <if test="condition!=null and condition.id!=null">
                AND id = #{condition.id}
            </if>
            <if test="condition!=null and condition.userId!=null and condition.userId!=''">
                AND user_id = #{condition.userId}
            </if>
            <if test="condition!=null and condition.name!=null and condition.name!=''">
                AND `name` LIKE CONCAT('%',#{condition.name},'%')
            </if>
            <if test="condition!=null and condition.eachDay!=null">
                AND each_day = #{condition.eachDay}
            </if>
        </where>
        ORDER BY end_time DESC
    </select>
</mapper>